<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="bpstoreConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=bpstore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>