<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicSpinner.Properties.Settings.bpstoreConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=bpstore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>